/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --green: yellow;
    --black: #0ABAB5;
    --grey: violet;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(var(--black), var(--green), var(--grey));
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
#header{
    background-color: transparent;
    position: relative;
    top: 0;
    width: 100%;
    height: 16vh;
}

/* Logo */
header > img {
  height: 20vh;
  display: inline-block;
  margin-top: -2vh;
}

/* Nav menu */
#nav-bar{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    
}

.menu a,.menu p{
    display: block;
    padding: 30px;
    color: var(--green);

}

.menu a:hover{
    background-color: var(--grey);
}

#nav-bar {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Sub nav */
.subnav-content {
    background-color:  var(--green);
    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;
  }
.subnav-content a {
    color: var(--black);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}
.subnav:hover .subnav-content {
    display: block;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
 
}


.hamb-line {
    background: var(--green);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--green);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ #nav-bar {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* Responsiveness */

@media (min-width: 768px) {
    #nav-bar {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;

    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--grey);
        
    }
    
    .hamb{
        display: none;
    }

        /* Sub nav */
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        background-color:  var(--black);
    }
    .subnav-content a {
        color: white;
    }

}


#aboutus {
  position: static;
  margin-top: 20vh;
  font-family: 'Poiret One', cursive;
  font-size: calc(4vw + 4vh + 2vmin);
  text-align: center;
  width: 85%;
  margin-left: 7.5%;

}
h2 {
  text-align: center;
  margin-top: 25vh;
  font-family: 'Bangers', cursive;
  font-size: calc(5vw + 5vh + 2.5vmin);
}
video {
  width: 100%;
  height: auto;
}

.outer {
   border-radius: 40px;
    overflow: hidden;
  height: auto;
  width: 90vw;
  align-content: center;
  justify-content: center;
  margin-left: 4%;
}       

#pricing > p {
  font-family: 'Lobster', cursive;
  font-size: calc(2vw + 2vh + 1vmin);
  width: 95%;
  text-align: center;
}

#pricing > fieldset {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}
#pricing > fieldset > b {
  font-size: calc(2vw + 2vh + 1vmin);
}
#pack > b {
  font-size: calc(1.5vw + 1.5vh + .75vmin);
}
#pack {
  font-size: calc(1vw + 1vh + .5vmin);
}
fieldset {
  border: none;
}
/*footer*/
.footerlogo {color: green}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid cvar(--black);
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: var(--black);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 80%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

#quotebox {
  height: 25vh;
}