/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --green: yellow;
    --black: #0ABAB5;
    --grey: violet;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(var(--black), var(--green), var(--grey));
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
#header{
    background-color: transparent;
    position: relative;
    top: 0;
    width: 100%;
    height: 20vh;
}

/* Logo */
header > img {
  height: calc(10vw + 10vh + 5vmin);
  display: inline-block;
  margin-top: -2vh;
}

/* Nav menu */
#nav-bar{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    transition: max-height .5s ease-out;
    max-height: 0;
    font-size: calc(1.5vw + 1.5vh + .75vmin);
}
.menu {
  margin-top:6vh;
}
.menu a,.menu p{
    display: block;
    padding: 30px;
    color: var(--green);

}

.menu a:hover{
    background-color: var(--grey);
}

#glitch {
	font: { 
    font-size: calc(3vw + 3vh + 1.5vmin);
		family: 'Raleway', sans-serif;
		weight: 700;
  }
	text-decoration: none;
	text-transform: uppercase;
  position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	color: none;
	letter-spacing: 5px;
	
	&:before, &:after {
		display: block;
		content: attr(data-glitch);
    position: absolute;
		text-transform: uppercase;
		height: 100%;
		width: 100%;
		opacity: .8;
	} &:after {
		color: transparent;
		z-index: -1;
	} &:before {
		color: #0ff;
		z-index: -1;
	}
	&:hover {
		&:before {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both 5
		}
		&:after {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both 5
		}
  }
}
@media only screen and (max-width: 400px) {
	.glitch {
		font-size: 3em;
	}
}


@keyframes glitch {
	0% {
		transform: translate(0)
	}
	20% {
		transform: translate(-5px, 5px)
	}
	40% {
		transform: translate(-5px, -5px)
	}
	60% {
		transform: translate(5px, 5px)
	}
	80% {
		transform: translate(5px, -5px)
	}
	to {
		transform: translate(0)
	}
}

/* Sub nav */
.subnav-content {
    background-color:  var(--green);
    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;
  }
.subnav-content a {
    color: var(--black);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}
.subnav:hover .subnav-content {
    display: block;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
 
}


.hamb-line {
    background: var(--green);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--green);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ #nav-bar {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* Responsiveness */

@media (min-width: 768px) {
    #nav-bar {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;

    }

    .menu li{
        float: left;
      margin-top: 10%;
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--grey);
        
    }
    
    .hamb{
        display: none;
    }

        /* Sub nav */
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        background-color:  var(--black);
    }
    .subnav-content a {
        color: white;
    }
 #aboutus {
   font-size: calc(2vw + 2vh + 1vmin);
 }

}
@media (max-width: 768px) {
  .footer-menu{
  float: none; 
    width: 100%;
}
  .footer-bottom p{
float: none;
    text-align: center;
  }
  .footer-menu ul{
  display: inline-block;
}
  .footer-menu ul li{
  display: inline-block;
}
}
#aboutus {
  position: static;
  margin-top: 10vh;
  font-family: 'Poiret One', cursive;
  font-size: calc(4vw + 4vh + 2vmin);
  text-align: center;
  width: 85%;
  margin-left: 7.5%;

}
#emaillist {
  width: 60%;
  font-size: calc(1vw + 1vh + .5vmin);
  text-align: center;
}
#emailrelease {
font-size: calc(1vw + 1vh + .5vmin);
}

h2 {
  text-align: center;
  margin-top: 25vh;
  font-family: 'Bangers', cursive;
  font-size: calc(5vw + 5vh + 2.5vmin);
}
video {
  width: 100%;
  height: auto;
}

.outer {
   border-radius: 40px;
    overflow: hidden;
  height: auto;
  width: 90vw;
  align-content: center;
  justify-content: center;
  margin-left: 4%;
}       

#pricing > p {
  font-family: 'Lobster', cursive;
  font-size: calc(2vw + 2vh + 1vmin);
  width: 85%;
  margin-left: 7.5%;
  text-align: center;
}

#pricing > fieldset {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}
#pricing > fieldset > b {
  font-size: calc(2vw + 2vh + 1vmin);
}
#pack > b {
  font-size: calc(1.5vw + 1.5vh + .75vmin);
}
#pack {
  font-size: calc(1vw + 1vh + .5vmin);
}
fieldset {
  border: none;
}
/*footer*/
.footerlogo {
  height: calc(8vw + 8vh + 4vmin);
}
.box {
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 3%;
  border: 2px none #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.box:hover {
  background: var(--green);
}
.button {
  font-size: calc(1.5vw + 1.5vh + .75vmin);
  padding: 5%;
  color: #fff;
  border: 2px solid var(--grey);
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: var(--black);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h3 {
  margin-top: 0;
  font-family: Tahoma, Arial, sans-serif;
  font-size: calc(2vw + 2vh + 1vmin);
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.popup .close:hover {
  color: var(--black);
}
.popup .content {
  max-height: 80%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }

}